<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>People Found</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <p class="error">ERROR: you did not type in any person name</p>
</body>
</html>