<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>People Finder</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <h1>People Finder</h1>
    <main>
        <p id="desc">This is the description of People Finder. People Finder finds people. Then it displays pages about them using templates.</p>
        <form method="POST" action="./search">
            <label for="search">Search for a person: </label>
            <input id="search" type="text" name="personName" />
            <button type = "submit" value = "submit">Find a person.</button>
        </form>
    </main>
</body>
</html>