<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Logout Page</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <h1>If you had a current session, it has now ended and you have been logged out.</h1>
    <main>
        <a href="/">Log back in</a>
    </main>
</body>
</html>